.body {
  display: flex;
  flex-direction: column;
}

.results {
  display: flex;
  gap: 32px;
  margin: 48px auto 0 auto;
  max-width: 900px;
  border: 2.5px solid #222;
  border-radius: 22px;
  background: #fff;
  min-height: 520px;
  box-shadow: 2px 6px 0 0 #222;
  padding: 36px 38px 38px 38px;
  justify-content: flex-start;
}

.results .album,
.results .details {
  flex: 1 1 0;
  border: 2px solid #222;
  border-radius: 18px;
  background: #fafafa;
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  min-width: 0; /* allows for flex shrinking */
}

.results .album {
  margin-left: 0;
  margin-right: 20px;
}

.results .details {
  margin-left: 20px;
  margin-right: 0;
}

.body > div:first-child {
  float: left;
  /* margin: 48px 0 0 48px; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 24px;
}

/* .body > div:first-child .genre-list,
.body > div:first-child > * {
  border: 2px solid #222;
  border-radius: 16px;
  width: 78px;
  min-height: 40px;
  margin-bottom: 22px;
  background: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 1.2px 2.5px #222;
}

@media (max-width: 1050px) {
  .header,
  .results {
    max-width: 99vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }
  .body > div:first-child {
    margin-left: 2vw;
  }
} */

.album {
  color: black;
}

.details {
  margin-left: 70px;
  color: black;
}

.genrelist {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
  max-width: 160px;
  margin-top: 50px;
  margin-right: 10px;
  gap: 20px;
  color: black;
}

.genrelist > * {
  border: 2px solid #222;
  border-radius: 16px;
  background: #fafafa;
  margin-bottom: 8px;
  width: 85px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  letter-spacing: 1px;
  box-shadow: 1.2px 2.5px #222;
}
